canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

main {
  position : absolute;
  /* width : 100vw;
  color : white;
  z-index: 99;
  width: 100%; */
  /* margin: 0px auto; */
  /* padding : 120px  0px; */
  /* display : grid; */

}